# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/assets/harsh.jpg
src/assets/indrajit.png
src/assets/jay.jpg
src/assets/jeet.jpg
src/assets/mansi.jpg
src/assets/meet.jpg
src/assets/mohit.jpg
src/assets/Nidhi.png
src/assets/nishant.jpg
src/assets/pranjal.png
src/assets/Riya.jpg
src/assets/samarth.jpg
src/assets/shashank.jpg
src/assets/sujal.jpg
src/assets/vanshika.jpg
src/assets/ved.jpg
src/assets/vipul.jpg
src/assets/yovan.jpg